.Master_holder
{
    display: grid;
    grid-template-columns: 31% 35% 34%;
    gap: 10px;
    position: relative;
    left: 1%;
    width: 98%;
}
.chapters_and_add_more
{
    background-color: #142f53;
    height: 500px;
    overflow-y: scroll;
    border-radius: 10px;
}
.the_chapter_buttons_and_other button
{
    width: 95%;
    margin-bottom: 10px;
    border-radius: 10px;
    display:flex;
    flex-direction: column;
    background-color: #093672;
    color: snow;
    text-align: center;
    align-items: center;
}
.Times_items
{
    display: flex;
    gap: 10px;
}
.items
{
    display: grid;
    grid-template-columns: 30% 40% 20%;
    gap: 5px;
    color: snow;
    text-align: center;
    align-items: center;
    background-color: #093672;
}
.image_and_creaters
{
    width: 100%;

}
.image_and_creaters img
{
    width: 100%;
    height: 450px;
    border-radius: 10px;
}
.the_creaters_and_info
{
    display: grid;
    grid-template-columns: 33% 33% 33%;
    gap: 1%;
    position: relative;
    left: 0%;
    text-align: center;


}
.the_creaters_and_info div
{
    background-color: #142f53;
    border-radius: 10px;
    height: 40px;
    margin-bottom: 10px;
}
.the_creaters_and_info div h2
{
    color: snow;
    text-align: center;
    position: relative;
    bottom: 15px;
}
.audio_play
{
    width: 95%;
    position: relative;
    left: 2%;
}
.timing_and_name
{
    display: grid;
    grid-template-columns: 33% 33% 33%;
    text-align: center;
    gap: 10px;
}
.User_inputs
{
    display: grid;
    grid-template-columns: 20% 20% 20% 20%;


}
.User_inputs button
{
    width: 95%;
    margin-bottom: 10px;

    display:flex;
    flex-direction: column;
    background-color: #093672;
    color: snow;
    text-align: center;
    align-items: center;
    position: relative;
    left: 52%;
    height:  30px;
    font-size: 20px;
}

.the_main_audio_items
{
    display: grid;
    grid-template-columns: 20% 60% 20%;
    gap: 10px;
    position: relative;
    left: 1%;
    margin-bottom: 20px;
}
.the_main_audio_items button
{
    width: 95%;

    border-radius: 5px;
    display:flex;
    flex-direction: column;
    background-color: #093672;
    color: snow;
    text-align: center;
    align-items: center;
    height:  30px;
}
.outer_track
{
    width: 100%;
    height: 30px;
    background-color: #093672;
    border-radius: 5px;
}
.inner_track
{
    width: 10%;
    height: 30px;
    background-color: #142f53;
    border-radius: 5px;
    
}
.timing_and_name h2 
{
    color: snow;
    text-align: center;
    background-color: #093672;
    border-radius: 5px;
    position: relative;
    left: 1%;
}
@keyframes speed {
    0% { width: 0%; }
    100% { width: 100%; }
}