.Master_holder
{
    display: flex;
    flex-direction: column;
}
.history_list,.chapter_list
{
    display: flex;
    flex-direction: row;
    gap: 5px;
    overflow-x: scroll;
    white-space: nowrap;
}
.history_list li,
.chapter_list li
{
    width: auto;
    display: inline-block;


}
.history_list button,
.chapter_list button
{
        background-color: #0D131D;
        color: snow;

        border-radius: 15px;
}
.Times_items
{
    display: flex;
    flex-direction: row;
    gap: 5px;
}
.history_list::-webkit-scrollbar,
.chapter_list::-webkit-scrollbar
{
    height: 8px;
}
.history_list::-webkit-scrollbar-thumb,
.chapter_list::-webkit-scrollbar-thumb
{
    background-color: #616161;
    border-radius: 15px;
}
.items
{
    display: grid;
    grid-template-columns: 25% 20% 20% 15%;
    background-color: #131f35;
    gap: 3%;
    text-align: center;

    height: 45px;
    border-radius: 15px;
}
.items:first-of-type
{
    position: relative;
    left: 2%;
}
.items button
{
    height: 30px;
    position: relative;
    top: 7px;
    left: 3%;
    background-color: #0D131D;
    color: snow;
    border-radius: 15px;
}
.items h2
{
    position: relative;
    bottom: 10px;
}
.audio_play
{
    width: 95%;
    position: relative;
    top:50px;
}
.timing_and_name
{
    display: grid;
    grid-template-columns: 35% 35% 35%;
    gap: 5px;
    width: 95%;
    text-align: center;
    position: relative;
    left: 3%;
}
.timing_and_name h2,.the_main_audio_items button, .User_inputs button
{
    background-color: #0D131D;
    color: snow;
}
.timing_and_name h2:first-child
{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.timing_and_name h2:last-child
{
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.the_main_audio_items
{
    display: grid;
    grid-template-columns: 15% 70% 15%;  
        gap: 5px;
    position: relative;
    left: 3%;
    height: 45px;
}
.User_inputs
{
    display: grid;
    grid-template-columns: 25% 20% 20% 25% ;
    gap: 2.5%;
        height: 45px;
            position: relative;
    left: 5%;
    top: 40px;
}
.outer_track{
    width: 100%;
    height: 45px;
    background-color: #0D131D;
    border-radius: 5px;
}
.inner_track
{
    width: 100%;
    height: 100%;
    background-color: #616161;
    border-radius: 5px;
}
@keyframes speed {
    0%{width: 0%;}
    100%{width: 100%;}
}