.Master_list
{
    display: grid;
    grid-template-columns: 31% 35% 34% ;
    gap: 3%;
}
.Master_holder
{
    height: 200px;
    background-color: #0a1a2e;
    border-radius: 10px;
    width: 100%;
    text-align: center;
    color: snow;

}
.images
{
    position: relative;
    top: 20px;
    width: 100%;
    height: 200px;
}
.images img
{
    width: 100%;
    height: 100%;
}
h1
{
    position: relative;
    top: 10px;
}
.Master_author
{
    display: grid;
    grid-template-columns: 31% 35% 34%;
    border: 3px solid black;
    width: 95%;
    border-radius: 10px;
    position: relative;
    left: 2.5%;
    height: 130px;
}
