@media (max-width: 754px)
{
    .links_holders
{
    display: grid;
    grid-template-columns:50% 50%  ;
    gap: 1%;
    position: relative;
    top: 15px;


}

} 

@media (max-width: 648px) 
{
    .header_of_optons
    {
        display: flex;
        flex-direction: column;
        gap: 3%;
        height: auto;
        padding-bottom: 40px;
        justify-content: center;    
        align-items: center;
        text-align: center;
    }
    .header_of_optons .search
    {
        display: grid;
        grid-template-columns: 75% 18%;
        gap: 10px;
        width: 100%;
        position: relative;
        left: 2.5%;
    }
}
@media (max-width: 452px)
{
    .links_holders
{
    display: grid;
    grid-template-columns:100% ;
    gap: 1%;
    position: relative;
    top: 15px;


}
}
