@media (max-width: 992px)
{
    .image_and_creaters
    {
        display: none;
    }
    .Master_holder
    {
        display: grid;
        grid-template-columns: 50% 50%;
    }
    .items
    {
        width: 100%;
        box-sizing: border-box;
    }
}
@media (max-width: 642px)
{
    .Master_holder
    {
        display: grid;
        grid-template-columns: 95% ;
        grid-template-rows: 50% 50%;

    }
}